html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  font-family: Roboto;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.content {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.inner-content {
  margin-top: 10px;
  background: white;
  padding: 1%;
  border-radius: 4px;
}

.logo {
  width: 30vw;
}

h1, h2 {
  text-align: center;
  width: 30vw;
}

div.mc-field-group {
  display: flex;
  flex-direction: column; 
}

div.datefield {
  width: 100%;
}

form {
  display: flex;
  width: 30vw;
  flex-direction: column;
}

@media (max-width: 600px) {
  form {
  display: flex;
  width: 80vw;
  flex-direction: column;
}
h1, h2 {
  text-align: center;
  width: 80vw;
}
}

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  
  outline: none;
}

input:not(:last-child) {
  margin-bottom: 10px;
}

input[type="submit"] {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #2E3291;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

